<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-4" href="{% url 'polls:index'  %}" aria-label="Bootstrap">
        <i class="fa fa-poll"></i>&nbsp;
        <span>Polls Application</span>
    </a>
    <div class="navbar-nav-scroll mr-md-8">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'polls:index'  %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""></a>
            </li>
        </ul>
    </div>
</header>